<section class="slide" id="About" ng-controller = "mainController">
    <div class="wrapper">
        <h1 data-0="opacity:1;transform:translateY(0px);" data-top="opacity:0;transform:translateY(-100px);">Salut,</h1>
        <h2 data-50="opacity:1;transform:translateY(0px);" data-top="opacity:0;transform:translateY(-100px);">Je suis un développeur front-end qui
            est un enthousiaste du web avec 3+ années d'expérience</h2>
        <p data-50="opacity:1;transform:translateY(0px);" data-top="opacity:0;transform:translateY(-100px);" class="description1">
            Habile avec <strong>HTML5/CSS3</strong>, le framework <strong>Bootstrap</strong> et les préprocesseurs <strong>LESS/SASS</strong>, je crée des sites web à l'image du client. Je peux m'occuper du Back-End en PHP.
        <p>
        <br />
        <p class="description2">
            J'aime quand les sites web sont expressif tout en étant efficace. L'information clé doit être transmis rapidement à l'utilisateur.
        </p>
        <br />
        <p class="description3">
            Avec mes expériences de travail, j'ai appris les rudiments de <strong>l'ASP.NET/C#</strong> et le moteur de vue <strong>Razor</strong> dans l'environement TFS.
        </p>
        <br />
        <p class="description4">
            Dans mes temps libre j'aime apprendre de nouvelles technologies
        </p>
        <a href="#portfolio" class="bouton">Voir le portfolio</a>
    </div>
</section>