<div ng-controller="portfolioController">
    <div class="thumbs">
        <img class="{{ image.class }}" src="{{ image.url }}" ng-repeat="image in projet.imagesUrl" />
        <div style="clear: both"></div>
    </div>
    <h3><a href="{{ projet.url }}" target="blank">{{ projet.titre }}</a></h3>
    <h4>{{ projet.overdescription }}</h4>
    <p class="technologies">
        <span ng-repeat="tag in projet.tags">{{ tag.nom }}</span>
    </p>
    <p class="description" ng-bind-html="projet.description">
        {{ projet.description }}
    </p>
    <div style="clear: both"></div>
</div>
